* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(fundologin.png);
    background-size: cover;
}

header {
    width: 100%;
    height: 55px;
    background-color: #8b49c6;
    color: white;
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    padding-top: 5rem;
}

main div {
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

main div h2 {
    position: absolute;
    top: 5rem;
    right: 2rem;
    left: 2rem;
    text-align: center;
}

main div .background-img {
    background-image: url(img/loja.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

main div:hover {
    cursor: pointer;
}