:root {
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray300: #d1d5db;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray700: #374151;
  --gray950: #030712;
  --cyan400: #22d3ee;
  --cyan500: #06b6d4;
  --cyan600: #0891b2;
  --cyan700: #0e7490;
  --cyan800: #155e75;
  --white: #ffffff;
  --black: #000000;
}

.header .navigation .open-mobile,
.header .navigation .close-mobile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

@media (max-width: 768px) {
  html {
    font-size: 90.7%;
  }

  body.mobile {
    overflow: hidden;
  }

  .header .navigation .box-hour,
  .header .navigation .menu {
    opacity: 0;
    visibility: hidden;
  }

  .header .navigation .open-mobile {
    opacity: 1;
    visibility: visible;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--gray500);
    cursor: pointer;
  }

.header .navigation .button-open-cart  {
  margin-right: 4rem;
}

  body.mobile   .header .navigation .button-open-cart  {
    top: 4rem;
    margin-right: 1rem;
  }

  body.mobile .header .navigation .open-mobile {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
  }

  body.mobile .header .navigation .box-hour {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--gray100);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  body.mobile .header .navigation .box-hour ul {
    margin-top: 30%;
    z-index: 20;
    border-radius: 0;
    width: 20rem;
    height: 20rem;
  }

  body.mobile .header .navigation .close-mobile {
    opacity: 1;
    visibility: visible;
    top: 2.5rem;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--gray500);
  }

  main .links-category ul li a {
    font-size: 0.875rem;
  }

  main .links-category ul {
    align-items: center;
    min-width: 450px;
  }

  main .links-category {
   overflow: auto;
   padding: 1rem;
  }

  body.show-cart main .section-cart .content {
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 2.5rem;
  }

  body.show-cart main .section-cart .content .address .search-cep {
    flex-direction: column;
  }

  body.show-cart main .section-cart .content .address .cep {
    width: 100%;
  }

  body.show-cart main .section-cart .content .address .number-house {
   flex-direction: column;
  }

  body.show-cart main .section-cart .content .address .number-house .number {
    width: 100%;
  }

  .total {
   padding-bottom: 2rem;
  }

}