body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url(fundologin.png);
    background-size: cover;
    overflow: hidden;
}
.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    width: 30%;
}
fieldset{
    border: 3px solid rgb(0, 0, 0);
}
legend{
    border: 1px solid #6f42c1;
    padding: 15px;
    text-align: center;
    background-color: #6f42c1;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputfile{
    display:none
}
/*animação do input*/
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: white;
}

#submit{
    background-color: #6f42c1;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-color: #643bad;
}